@page "/{id:int?}"
@model Pop_Stefana_Proiect.Pages.Angajati.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].NumePrenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].DataAngajarii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].NrTelefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].Salariu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].Departament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat[0].LimbiStraineVorbite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AngajatD.Angajati)
        {
            string selectedRow = "";
            if (item.ID == Model.AngajatID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.NumePrenume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAngajarii)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrTelefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salariu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departament.NumeDepartament)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.TipJob)
                </td>
                <td>
                    @{
                        foreach (var limbastraina in item.LimbiStraineVorbite)
                        {
                            @limbastraina.LimbaStraina.ID @: @limbastraina.LimbaStraina.Denumirea <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
